body {

    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.Horizontal-Bar {
    background-color: #333;
    overflow: hidden;
}


.Horizontal-Bar a {

    color: whitesmoke;
    font-size: 17px;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}


.Horizontal-Bar a:hover {
    color: black;
    background-color: #e372b0;

}


.Horizontal-Bar a.active {
    color: white;
    background-color: #c21a71;

}

.orange-color {

    color: orange;
}

.half-width {

    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}

.half-width img {


    width: 100%;
}

.topbanner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section {
    height: 500px;
}

h1 {
    font-size: 60px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 1000;
}

.middle {
    margin-top: 150px;


}

.project {
    margin-top: 150px;

    background-color: #f8f9fc;


}

.project h1 {

    text-align: center;


}


.third-width {

    width: 27%;
    float: left;
    margin-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;



}


.third-width img {


    width: 100%;

}

.exp {
    box-shadow: 10px 10px 45px grey;
    border-radius: 5px;
    height: 51%;

}

#ex1 {
    border-left: 7px solid;
    border-image: linear-gradient(180deg ,#c21a71, #26116c);
    border-image-slice: 1;
}

#ex2 {
    border-left: 7px solid;
    border-image: linear-gradient(180deg ,orange, tomato);
    border-image-slice: 1;
}

#ex3 {
    border-left: 7px solid;
    border-image: linear-gradient(180deg ,cyan, #c21a71);
    border-image-slice: 1;
}

footer p{

margin-top: 550px;
    text-align: center;
}